* {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
  scroll-behavior: smooth;
}
body {
  background-image: url(img/image-4.jpg);
  color: #fff;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  /* overflow: hidden; */
}
.app {
  /* margin: 2rem 0rem; */
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr auto;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}
.header {
  /* height: 4rem; */
  padding: 2rem 0;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 5px;
  text-shadow: 5px 5px 10px #fff;
}
.main {
  align-self: center;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  text-wrap: wrap;
  letter-spacing: 5px;
  text-shadow: 5px 5px 10px #fff;
}
.ques {
  margin-bottom: 2rem;
  margin-right: 2rem;
  max-width: 5%;
  align-self: center;
  justify-self: right;
  font-size: 3rem;
  background-color: white;
  color: white;
  padding: 0.6rem 1.8rem;
  border-radius: 50%;
  background: transparent;
  border: 5px solid white;
  animation: emphasis 1s infinite;
  box-shadow: 0 0 30px #3498db;
}

@keyframes emphasis {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
