* {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
  scroll-behavior: smooth;
}
body {
  background-image: url(img/image-4.jpg);
  color: #fff;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  /* overflow: hidden; */
}
.logo {
  opacity: 0.87;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  height: 4rem;
}
.app {
  /* margin: 2rem 0rem; */
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr auto;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}
.header {
  margin-top: 15px;
  line-height: 1;
  /* margin-top: 2rem; */
  transform: translateY(3rem);
  /* height: 4rem; */
  padding: 2rem 0;
  text-align: center;
  font-weight: 500;
  font-size: 3.5rem;
  letter-spacing: 5px;
  /* text-shadow: 5px 5px 10px #fff; */
  text-shadow: 5px 5px 10px #b89163;
}
.header span {
  font-size: 1.2rem;
  /* text-shadow: 5px 5px 10px #fff; */
  text-shadow: 5px 5px 10px #b89163;
  letter-spacing: 1px;
  font-weight: 500;
}
.main {
  transform: translateY(5rem);
  padding: 0 1rem;
  align-self: center;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  text-wrap: wrap;
  letter-spacing: 5px;
  text-shadow: 5px 5px 10px #b89163;
}
.ques {
  font-family: "Creepster", system-ui;
  margin-bottom: 2rem;
  /* margin-right: 2rem; */
  /* max-width: 5%; */
  align-self: center;
  justify-self: center;
  font-size: 3rem;
  /* background-color: white; */
  color: white;
  padding: 0.6rem 1.8rem;
  border-radius: 50%;
  background: transparent;
  border: 5px solid #9c0b0a;
  animation: emphasis 1s infinite;
  /* box-shadow: 0 0 30px #fff; */
  box-shadow: 0 0 30px #fff;
  opacity: 0.9;
  text-decoration: none;
  cursor: pointer;
}

@keyframes emphasis {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.25px);
  z-index: -5;
  transition: all 0.5s;
}
